@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+SA+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/invisible');


header{
    background-color: #252525;
    color: #fff;
    /* min-height: 100px; */
    
}
footer{
    background-color: #454545;
    padding: 2rem;
    color: #fff;
}
.menu{
    background-color: #f4f4f4;
}
.modulo.verde-escuro {
    border: 2px solid #1B5E20;
}
.modulo{
    color: #fff;
    min-height: 250px;
}
.modulo.verde-escuro h3{
    background-color: #1B5E20;
}

.modulo.azul-escuro {
    border: 2px solid #221b5e;
}
.modulo.azul-escuro h3{
    background-color: #221b5e;
}

.modulo.rosa-chiclete {
    border: 2px solid #5e1b4e;
}
.modulo.rosa-chiclete h3{
    background-color: #5e1b4e;
}

.modulo.vermelho-escuro {
    border: 2px solid #5e1b21;
}
.modulo.vermelho-escuro h3{
    background-color: #5e1b21;
}

@media(min-width:576px){
    main{
        height: calc(100vh - 165px);
        overflow:auto;
    }
    footer{
        min-height:100px;
    }
}

#title{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;  
    color: inherit;

}

#subtitle{
    font-family: 'Ubuntu', sans-serif;
    color: #04003e;
}

#title2{
    color: #04003e;
}

#msg{
    color: #0cb300;
    font-family: 'Open Sans', sans-serif;

}

#cancel{
    background-image: url(../images/cancel2.png);
    font-family: 'invisible';
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5.0em;
    padding-left: 5.0em;
    max-width: 100px; 
    max-height: 100px;
}
